*{
    padding: 0px;
    margin: 0px;

}

body{
    background-image: url(../../image/backgroundLp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
}

.container1{
    background-color: $background-color;
    width: 450px;
    height: auto;
}

.topLogo{
    width: 100px;
}
.paragraph{
    margin: 8px 0px;
}
.btnSend{
    color: $button-color;
    border: 1px solid $button-color;
}

.footer{
    margin-top:30px;
    margin-bottom:-30px;
}

@media screen and (min-width: 480px){
    
}